@font-face {
  font-family: 'hui-font';
  src: url('./fonts/hui-font.eot?2584386');
  src: url('./fonts/hui-font.eot?2584386#iefix') format('embedded-opentype'),
  url('./fonts/hui-font.woff?2584386') format('woff'),
  url('./fonts/hui-font.ttf?2584386') format('truetype'),
  url('./fonts/hui-font.svg?2584386#hui-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hui-font';
    src: url('../font/hui-font.svg?2584386#hui-font') format('svg');
  }
}
*/

[class^="hui-icon-"]:before, [class*=" hui-icon-"]:before {
  font-family: "hui-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.hui-icon-carat-d-small:before { content: '\e800'; } /* '' */
.hui-icon-carat-u-small:before { content: '\e801'; } /* '' */
.hui-icon-checked-small:before { content: '\e802'; } /* '' */
.hui-icon-carat-l:before { content: '\e803'; } /* '' */
.hui-icon-user-solid:before { content: '\e804'; } /* '' */