.rc-dialog-mask {
  background: none !important;
  top: 100% !important;
}

.rc-dialog-wrap {
  background: rgba(#030303, .3) !important;
}

.rc-dialog-close {
  display: none !important;
}

.rc-dialog-wrap.filter-dialog {
  top: 177px;
  margin: 0;

  .rc-dialog {
    margin: 0;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  //z-index: 1500;
  background: #FFF;

  li {
    line-height: 80px;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: #656565;

    &.selected {
      background: #FFF;
    }
  }

  > ul {
    border-bottom: 3px solid #EEE;
    width: 100%;

    &:first-of-type {
      display: flex;

      > li {
        flex: 1;

        & + li {
          border-left: 3px solid #EEE;
        }

        &.selected {
          color: #25B6ED;
        }
      }
    }

    & + ul {
      width: calc(100% / 3);
      background: #F5F5F5;
    }

    &:last-of-type {
      width: 100%;
      background: #FFF;

      > li.selected {
        color: #25B6ED;
      }
    }

    &:nth-of-type(3) {
      flex: 1;
    }
  }
}

.range-picker-container {
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 3px solid #EEE;
  border-bottom: 3px solid #EEE;

  button {
    border: none;
    background: #FFF;
  }

  .date-picker-trigger {
    height: 120px;
    flex: 1;
    font-size: 32px;
    color: #656565;
  }

  .hui-icon-clock-1 {
    margin-left: 40px;

    &:last-of-type {
      color: #FFF;
    }
  }

  .range-picker-separator {
    width: 60px;
    height: 60px;
    border: {
      style: solid;
      color: #EEE;
      width: 3px 3px 0 0;
    }
    transform: rotate(45deg) skew(20deg, 20deg);
  }

  .range-picker-confirm {
    width: 100%;
    height: 80px;
    color: #25B6ED;
    border-top: 3px solid #EEE;
    font-size: 32px;

    &:active {
      background: none;
    }
  }
}

.rc-dialog-content {
  border: none 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.rc-dialog-body {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .hui-icon-checked-small {
    position: absolute;
    color: #25B6ED;
  }

  li {
    line-height: 80px;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: #656565;

    &.selected {
      background: #FFF;
    }
  }

  > ul {
    width: calc(100% / 3);
    background: #F5F5F5;
    max-height: 600px;
    overflow: auto;

    &:last-of-type {
      width: 100%;
      background: #FFF;

      //> li.selected {
      //  color: #25B6ED;
      //}
    }

    &:nth-of-type(2) {
      flex: 1;
    }
  }
}