.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    line-height: 80px;
    height: 80px;
    box-sizing: border-box;
    text-align: center;

    &.selected {
      background: #FFF;
    }
  }

  > ul {
    border-bottom: 3px solid #EEE;
    width: 100%;

    &:first-of-type {
      display: flex;

      > li {
        flex: 1;

        & + li {
          border-left: 3px solid #EEE;
        }
      }
    }

    & + ul {
      width: calc(100% / 3);
      background: #F5F5F5;
    }

    &:last-of-type {
      width: 100%;
      background: #FFF;

      > li.selected {
        color: #25B6ED;
      }
    }

    &:nth-of-type(3) {
      flex: 1;
    }
  }
}

.range-picker-container {
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #EEE;

  button {
    border: none;
    background: #FFF;
  }

  .date-picker-trigger {
    height: 120px;
    flex: 1;
  }

  .hui-icon-clock-1 {
    margin-left: 40px;

    &:last-of-type {
      color: #FFF;
    }
  }

  .range-picker-separator {
    width: 60px;
    height: 60px;
    border: {
      style: solid;
      color: #EEE;
      width: 3px 3px 0 0;
    }
    transform: rotate(45deg) skew(20deg, 20deg);
  }

  .range-picker-confirm {
    width: 100%;
    height: 80px;
    color: #25B6ED;
    border-top: 1px solid #EEE;
  }
}