.rc-dialog-wrap.navigation {
  top: 96px;
  z-index: 1999;

  .arrow {
    width: 0;
    height: 0;
    margin: -8px auto auto;
    border: {
      style: solid;
      width: 4px 8px;
      color: transparent transparent #FFF transparent;
    }
  }

  .rc-dialog {
    margin: 10px 130px;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;

    > span {
      flex: 1;
    }

    > .hui-icon-checked-small {
      flex: 1;
      color: #FFF;
    }

    &.active {
      color: #25B6ED;

      > .hui-icon-checked-small:last-of-type {
        color: #25B6ED;
      }
    }
  }
}