.ranking-container {

  .hui-icon-checked-small {
    padding-left: 77px;
  }

}

.xxxxxxx {
  top: 96px;
  z-index: 1600;

  //.arrow {
  //  width: 0;
  //  height: 0;
  //  margin: auto;
  //  border: {
  //    style: solid;
  //    width: 4px 8px;
  //    color: transparent transparent #FFF transparent;
  //  }
  //}
  //
  //ul {
  //  background: #FFF;
  //  margin: auto;
  //  width: 496px;
  //  color: #656565;
  //
  //  li {
  //    line-height: 76px;
  //    padding-left: 171px;
  //
  //    &.active {
  //      color: #25B6ED;
  //    }
  //  }
  //}
}