.layout {
  display: flex;
  flex-flow: column;
  height: 100%;

  > header {
    display: flex;
    justify-content: space-between;
    background: #25B6ED;
    padding: 0 37px 0 30px;
    height: 96px;
    line-height: 96px;
    font-size: 36px;
    color: #FFF;
  }

  > section {
    flex: 1;
    position: relative;
  }
}