.message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h1 {
    font: {
      size: 60px;
      weight: normal;
    }
    color: #25B6ED;
  }

  p {
    font-size: 42px;
    color: #999;
  }
}